@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', serif;
}

a {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

:root {
  --font-size-body: 16px;
  --font-size-meta: 12px;
  --font-size-caption: 14px;
  --font-size-h6: 18px;
  --font-size-h5: 20px;
  --font-size-h4: 24px;
  --font-size-h3: 28px;
  --font-size-h2: 32px;
  --font-size-h1: 40px;

  --line-height-body: 1.5;
  --line-height-meta: 1.5;
  --line-height-caption: 1.4;
  --line-height-h6: 1.45;
  --line-height-h5: 1.4;
  --line-height-h4: 1.35;
  --line-height-h3: 1.3;
  --line-height-h2: 1.25;
  --line-height-h1: 1.2;

  --font-body: var(--font-size-body) / var(--line-height-body);
  --font-meta: var(--font-size-meta) / var(--line-height-meta);
  --font-caption: var(--font-size-caption) / var(--line-height-caption);
  --font-h6: var(--font-size-h6) / var(--line-height-h6);
  --font-h5: var(--font-size-h5) / var(--line-height-h5);
  --font-h4: var(--font-size-h4) / var(--line-height-h4);
  --font-h3: var(--font-size-h3) / var(--line-height-h3);
  --font-h2: var(--font-size-h2) / var(--line-height-h2);
  --font-h1: var(--font-size-h1) / var(--line-height-h1);
}
